/* =============
    Typography
============= */
@use "../helpers";

body {
  font-family: "Open Sans", sans-serif;
}

.section-title{
    color: var(--nightBlue);
    font-size: helpers.rem-calc(50);
    line-height:helpers.remcalc(65);
}
  // .open-sans-qualifier {
  //   font-family: "Open Sans", sans-serif;
  //   font-optical-sizing: auto;
  //   font-weight: <weight>;
  //   font-style: normal;
  //   font-variation-settings:
  //     "wdth" 100;
  // }

