#blue-bar {
  background-color: lightblue;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  height: 48px; 
}

#close-bar-btn {
  background-color: blue;
  color: grey;
  border: none;
  font-size: 16px;
  height: 100%;
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
