/* =============
    Hero
============= */
@use "../helpers";

//16px = 1em

#hero{
    background-color: var(--lilyWhite);

    section{

        article{
            //h1{
                //color: var(--nightBlue);
                //font-size: rem--calc(50);
            //}

            p{
                color: var(--grey);
                font-weight: 600;
                line-height:helpers.rem-calc(28);
            }
            //LOVE HATE //
            a:link, a:visited{
                background-color: var(--nightBlue);
                color: var(--white);
                font-size:helpers.rem-calc(14);
                font-weight:600;
            }

            a:hover, a:focus{
                
            }

            button{
                background-color: var(--white);
                border: none;

            }
        }

        #hero-card{
            background-color: var(--snowdrop);

            h5{
                color: var(--nightBlue);
                font-weight: 600;
                font-size: helpers.rem-clac(14);
            }
        }

        p{
            font-size: helpers.rem-calc(14);
            font-weight: 600;
            line-height: helpers.rem-calc(24);
        }

    }

    aside {

    }
}