/* =============
    newsletter
============= */
@use "../helpers";

#newsletter {
    padding: 40px 24px;
  
    #newsletter-content {
      background-color: var(--lilywhite);
      padding: 60px 16px;
    }
  
    p {
      margin: 16px 0;
    }
  
    form {
      input {
        border: none;
        color: var(--grey);
        font-weight: 600;
        width: 100%;
        padding: 24px 8px;
        box-sizing: border-box;
        border-radius: 8px;
        margin-bottom: 16px;
      }
  
      ::placeholder {
        color: var(--grey);
        opacity: 1; /* Firefox */
      }
  
      ::-ms-input-placeholder {
        color: var(--grey); /* Edge 12 - 18 */
      }

      div{
        text-align: right;
      }
  
      button {
        border: none;
        background-color: var(--nightBlue);
        color: var(--white);
        font-size: helpers.rem-calc(14);
        font-weight: 600;
      }
    }
  
    aside {
      // week 4 code
      display: none;
    }
  }
  
  